<!DOCTYPE html>
<html lang="US-en">

<head>
    <title>🐺Howlr - <%=title%></title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <script src="../js/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header id="main-header">
        <img id="logo-header" src="../res/wolf.svg" alt="logo">
        <span id=title-header>Howlr - <%=title%></span>
    </header>
    <div id="main-container">
        <% for(let i = 0; i < columns.length; i++) {%>
        <div class="card-column-container">
            <header class="column-header">
                <%=columns[i]%>
            </header>
            <div id="<%=sanitizedColumns[i]%>-card-container" class="card-container">
                <div class="btn-container">
                    <div data-column="<%=sanitizedColumns[i]%>" class="add-button">
                        <img class="add" src="../res/add.svg" alt="add">
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div id="overlay" class="hidden">
        <div class="overlay-card" id="add-card">
            <div class="exit-btn">
                X
            </div>
            <form id="add-card-form" action="" onsubmit="submitAddCard();return false;" autocomplete="off">
                <label for="add-card-title-input">Title</label>
                <input class="add-card-input" id="add-card-title-input" type="text" required>
                <label for="add-card-content-input">Details</label>
                <textarea class="add-card-input" id="add-card-content-input" rows="4" required></textarea>
                <button class="button" id="add-card-submit-btn">Add Card</button>
            </form>
        </div>
        <div class="overlay-card" id="edit-card">
            <div class="exit-btn">
                X
            </div>
            <form id="edit-card-form" action="" onsubmit="submitEditCard();return false;" autocomplete="off">
                <label for="edit-card-title-input">Title</label>
                <input class="add-card-input" id="edit-card-title-input" type="text" required>
                <label for="edit-card-content-input">Details</label>
                <textarea class="add-card-input" id="edit-card-content-input" rows="4" required></textarea>
                <button class="button" id="edit-card-submit-btn">Edit Card</button>
            </form>
        </div>
    </div>
    <div id="background"></div>
</body>

</html>