<!DOCTYPE html>
<html lang="US-en">

<head>
    <title>🐺Howlr - Retro Board</title>
    <link rel="stylesheet" href="css/splash.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/scrollbar.css">
    <script src="js/splash.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header id="main-header">
        <img id="logo-header" src="../res/wolf.svg" alt="logo">
        <span id=title-header>Howlr - Retro Boards</span>
    </header>
    <div id="main-container">
        <button class="button" id="create-board-btn">Create New Board</button>
        <div id="board-container" class="card-column-container">
            <div class="column-header">Your Boards</div>
            <div id="board-list-container">
                <span id="no-boards-msg">No Boards :(</span>
            </div>
        </div>
    </div>
    <div id="overlay" class="hidden">
        <div class="overlay-card" id="create-card">
            <div class="exit-btn">
                X
            </div>
            <form id="create-card-form" action="" onsubmit="submitCard();return false;" autocomplete="off">
                <span>Board Name</span>
                <input class="create-card-input" id="create-card-title-input" type="text" required>
                <span>Columns</span>
                <div id="create-card-column-container">
                    <div id="create-card-column-list">
                        <div class="create-card-column-entry">
                            <input class="create-card-input column-name" value="What Went Well" required>
                            <div class="column-delete-btn-container">
                                <span>X</span>
                            </div>
                        </div>
                        <div class="create-card-column-entry">
                            <input class="create-card-input column-name" value="What Didn't Go Well" required>
                            <div class="column-delete-btn-container">
                                <span>X</span>
                            </div>
                        </div>
                        <div class="create-card-column-entry">
                            <input class="create-card-input column-name" value="Action Items" required>
                            <div class="column-delete-btn-container">
                                <span>X</span>
                            </div>
                        </div>
                        <div class="create-card-column-entry">
                            <input class="create-card-input column-name" value="Kudos" required>
                            <div class="column-delete-btn-container">
                                <span>X</span>
                            </div>
                        </div>
                    </div>
                    <div class="create-card-column-btn button" id="create-card-add-column-btn">Add New
                        Column</div>
                </div>
                <button class="button" id="create-card-submit-btn">Create Board</button>
            </form>
        </div>
    </div>
    <div id="background"></div>
</body>

</html>