@-webkit-keyframes fade-in-right {
    from {
      opacity: 0;
      -webkit-transform: translate3d(196px, 0, 0);
      transform: translate3d(196px, 0, 0);
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes fade-in-right {
    from {
      opacity: 0;
      -webkit-transform: translate3d(196px, 0, 0);
      transform: translate3d(196px, 0, 0);
    }
    100% {
        opacity: 1;
    }
}
  
.fade-in-right {
    -webkit-animation-name: fade-in-right;
    animation-name: fade-in-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}