html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.hidden {
    display: none!important;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
}

#background {
    animation: 1s cubic-bezier(.4,0,.2,1) fadeInBackground;
    bottom: 0;
    background-image: url(../res/mountains.svg);
    background-repeat: repeat-x;
    background-size: cover;
    display: block;
    height: 40vh;
    opacity: .1;
    position: fixed;
    width: 100%;
    z-index: -1;
}

#main-header {
    width: 100%;
    height: 52px;
    display: flex;
    position: fixed;
    z-index: 200;
    justify-content: center;
    background-color: #5a8bd2;
    background: -webkit-linear-gradient(135deg, #0028efa3, #54ffffb5);
    background: linear-gradient(135deg, #0028efa3, #54ffffb5);
    backdrop-filter: blur(5px);
    text-align: center; 
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 16px 16px;
}

#logo-header {
    height: 36px;
    padding: 8px;
    cursor: pointer;
}

#title-header {
    line-height: 52px;
    font-size: 2rem;
    padding: 0 16px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main-container {
    padding-top: 72px;
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    */
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-around;
}

.card-column-container {
    min-width: 316px;
    max-width: 50%;
    min-height: 120px;
    max-height: 100%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    border-radius: 16px;
    backdrop-filter: blur(5px); 
    background-color: #ffffff66;
}

.column-header {
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    width: calc(100% - 16px);
    color: white;
    position: relative;
    background-color: #6fb2fa;
    border-radius: 16px 16px 0 0;
    z-index: 100;
    box-shadow: 0 3px 4px 0px rgba(0,0,0,.3);
}

.card-container {
    width: calc(100% - 16px);
    padding: 0 8px;
    margin: 0 auto;
    overflow: hidden auto;
}

.card {
    max-width: 320px;
    padding: 8px;
    margin: 16px auto;
    position: relative;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: -2px 3px 5px 1px rgba(0, 0, 0, 0.2)
}

.card-header {
    padding: 8px;
    font-size: 1.25rem;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
}

.card-content {
    padding: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    height: 24px;
}

.footer-btn-container {
    height: 18px;
    max-width: 48px;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    background-color: #a0b8c7;
    border-radius: 9px;
    user-select: none;
}

.footer-btn-container:hover {
    background-color: #5a8bd2;
}

.thumbsup {
    height: 14px;
    margin: auto 8px;
}

.thumbsup-count {
    line-height: 18px;
    font-size: 0.9rem;
    margin: auto 8px auto 0;
}

.edit {
    height: 18px;
}

.card-edit-btn {
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.comment {
    height: 14px;
    margin: auto 8px;
}

.btn-container {
    height: 126px;
    max-width: calc(320px + 16px);
    margin: 16px auto;
    display: flex;
}

.add-button {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    user-select: none;
    cursor: pointer;
    border: 2px dashed #a2a2a2;
    border-radius: 8px;
    background-color: #eaeaea;
}

.add-button:hover {
    border: 2px dashed #8c8c8c;
    background-color: #e6e6e6;
}

.add {
    height: 32px;
    margin: auto;
}

.overlay-card {
    min-width: 350px;
    width: 33%;
    position: relative;
    padding: 16px;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: -2px 3px 5px 1px rgba(0, 0, 0, 0.2)
}

.exit-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 0 8px 0 0;
    user-select: none;
    cursor: pointer;
    transition: none;
}

.exit-btn:hover {
    background-color: #cc4c4c;
    color: white;
    transition: 0.3s;
}

#add-card-form, #edit-card-form {
    display: flex;
    flex-direction: column;
}

#add-card-form > label {
    font-size: 1.25rem;
    color: #9e9e9e;
}

.add-card-input {
    padding: 16px;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    font: inherit;
    background-color: #ececec;
    resize: vertical;
    border: none;
    border-radius: 6px;
    box-shadow: -2px 3px 3px 0 rgba(0,0,0,0.1);
}

input:focus, textarea:focus {
    box-shadow: 0 0 3pt 1pt #36a2ffb5;
    outline: none;
}

.add-card-input > textarea {
    min-height: 3rem;
    height: 4rem;
}

.button {
    height: 48px;
    line-height: 48px;
    margin: auto 8px;
    padding: 0 16px;
    font-size: 1.25rem;
    cursor: pointer;
    text-align: center;
    color: white;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    background-color: #2c4352;
    background: -webkit-linear-gradient(135deg, #0028efa3, #54ffffb5);
    background: linear-gradient(135deg, #0028efa3, #54ffffb5);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
}

.button:hover {
    background-color: #4c75b1;
    transition: none;
}