@media only screen and (max-width: 1320px) {
    #main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr;
    }

    .card-column-container {
        max-height: 100%;
        max-width: 500px;
        min-width: 400px;
        margin: 8px;
    }

    .card-container {
        max-width: 440px;
    }

    .card {
        width: 420px;
    }

    .btn-container {
        max-width: calc(420px + 16px);
    }
}

@media only screen and (max-width: 800px) {
    #title-header {
        font-size: 1.25rem;
    }
    #main-container {
        height: calc(100% - 72px);
        overflow-y: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: normal;
    }

    .card {
        width: initial;
    }

    .card-column-container {
        height: calc(100% - 34px);
        min-width: 316px;
        overflow: hidden auto;
        margin: 8px;
    }
}