/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4a4a4a8c;
    border-radius: 6px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #42424280;
    border-radius: 6px;
    background-clip: padding-box;
    border: 3px solid transparent;
}