html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

input:focus, textarea:focus {
    box-shadow: 0 0 3pt 1pt #36a2ffb5;
    outline: none;
}


.hidden {
    display: none!important;
}


.filler {
    flex-grow: 1;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
}

.button {
    height: 48px;
    line-height: 48px;
    margin: auto 8px;
    padding: 0 16px;
    font-size: 1.25rem;
    cursor: pointer;
    text-align: center;
    color: white;
    border: none;
    border-radius: 6px;
    user-select: none;
    transition: background-color 0.3s;
    background-color: #2c4352;
    background: -webkit-linear-gradient(135deg, #0028efa3, #54ffffb5);
    background: linear-gradient(135deg, #0028efa3, #54ffffb5);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
}

.button:hover {
    background-color: #4c75b1;
    transition: none;
}

#background {
    animation: 1s cubic-bezier(.4,0,.2,1) fadeInBackground;
    bottom: 0;
    background-image: url(../res/mountains.svg);
    background-repeat: repeat-x;
    background-size: cover;
    display: block;
    height: 40vh;
    opacity: .1;
    position: fixed;
    width: 100%;
    z-index: -1;
}

#main-header {
    width: 100%;
    height: 52px;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: #5a8bd2;
    background: -webkit-linear-gradient(135deg, #0028efa3, #54ffffb5);
    background: linear-gradient(135deg, #0028efa3, #54ffffb5);
    text-align: center; 
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 16px 16px;
}

#logo-header {
    height: 36px;
    padding: 8px;
}

#title-header {
    line-height: 52px;
    font-size: 2rem;
    padding: 0 16px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main-container {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
}

.card-column-container {
    min-height: 192px;
    max-width: 780px;
    width: 80%;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    border-radius: 16px;
}

.column-header {
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    width: calc(100% - 16px);
    color: white;
    position: relative;
    background-color: #6fb2fa;
    border-radius: 16px 16px 0 0;
    z-index: 100;
    box-shadow: 0 3px 4px 0px rgba(0,0,0,.3);
}

#create-board-btn {
    margin: 24px auto;
}

#no-boards-msg {
    margin: auto;
    color: #9e9e9e;
}

#board-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.board-card {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #383838;
    border-bottom: 1px solid #d8d8d8;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.board-card:nth-child(even) {
    background-color: #eaeaea;
}

.board-card:last-child {
    border: none;
}

.board-card:hover {
    background-color: #a8d2f9;
    transition: none;
}

.overlay-card {
    min-width: 350px;
    width: 33%;
    position: relative;
    padding: 16px;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: -2px 3px 5px 1px rgba(0, 0, 0, 0.2)
}

.exit-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 0 8px 0 0;
    user-select: none;
    cursor: pointer;
    transition: none;
}

.exit-btn:hover {
    background-color: #cc4c4c;
    color: white;
    transition: 0.3s;
}

#create-card-form {
    display: flex;
    flex-direction: column;
}

#create-card-form > span {
    font-size: 1.25rem;
    color: #9e9e9e;
}

.create-card-input {
    padding: 16px;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    font: inherit;
    background-color: #ececec;
    resize: vertical;
    border: none;
    border-radius: 6px;
    box-shadow: -2px 3px 3px 0 rgba(0,0,0,0.1);
}


.create-card-input > textarea {
    min-height: 3rem;
    height: 4rem;
}

#create-card-column-container {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}


.create-card-column-entry {
    display: flex;
}

.column-name {
    padding: 8px!important;
    margin: 4px!important;
    flex-grow: 1;
}

.column-delete-btn-container {
    display: flex;
}

.column-delete-btn-container > span {
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: auto;
    font-weight: bold;
    text-align: center;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.column-delete-btn-container > span:hover {
    background-color: #cc4c4c;
    color: white;
    transition: 0.3s;
}

.create-card-column-btn {
    height: 32px;
    line-height: 32px;
    font-size: 1.125rem;
    margin: 8px 64px;
}

@media only screen and (max-width: 1320px) {
    #title-header {
        font-size: 1.25rem;
    }
}